{%  extends '_base.html.twig' %}

{% block pageTitle %}home page{% endblock %}

{% block main %}

    <h1>Plus home</h1>

    <p>
        answer some questins .....

        <a href="/plusNewQuiz">start with question 1</a>
    </p>


{% endblock %}