{%  extends '_base.html.twig' %}

{% block pageTitle %}update success{% endblock %}

{% block main %}

    <p>
        database record with id = {{ id }} was successfully update
    </p>

{% endblock %}
